<tables>
    <table name="blastdb" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/blastdb.loc" />
    </table>
    <table name="blastdb_p" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/blastdb_p.loc" />
    </table>
    <table name="blastdb_d" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/blastdb_d.loc" />
    </table>
</tables>
