[flake8]
# Recommend matching the black default line length of 88,
# rather than the flake8 default of 79:
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # B902 blind except Exception: statement
    # For now willing to ignore this as testing assorted
    # operating systems for the right exception is hard:
    B902,

# For flake8-import-order, pycharm is like smarkets but case sensitive
import-order-style = pycharm
