# This is a three column tab separated file to define the properties
# file (settings) to be offered for Blast2GO for Pipelines (b2g4pipe).
#
# Column 1 - ID, string that Galaxy will save in its database
# Column 2 - Human readable name, Galaxy will show this in the UI
# Column 3 - Filename, Galaxy will use this when calling the tool
#
# Probably the most important setting in the properties file is the
# Blast2GO database to use. Currently b2g4pipe v2.5 ships with an
# old configuration so consult http://www.blast2go.com for the latest
# public database they host in Spain (or find this by running the GUI
# version of Blast2GO via Java Web Start under the menu entry "Tools",
# "General Settings", "DataAccess setting"). We also strongly recommend
# configuring a local Blast2GO database.
#
# The property filenames can be fully qualified paths like
# /opt/b2g4pipe/Spain_2012_August.properties or provided they are
# in the same folder as the Blast2GO JAR file, just the filename
# like Spain_2012_August.properties instead. This is intended to
# make migrating between future versions of Blast2GO easier (as the
# property files change between versions), and simpler overall.
#
#Local_2011_May	Local database (May 2011)	Local_2011_May.properties
#Spain_2010_May	Database in Spain (May 2010)	Spain_2010_May.properties
#Spain_2011_June	Database in Spain (June 2011)	Spain_2011_June.properties
Spain_2012_August	Database in Spain (August 2012)	Spain_2012_August.properties
#default	Default settings	b2gPipe.properties
